<div class="sidebar">
  <div class="sidebar-wrapper">
    <div class="logo">
      <a target="_blank" href="https://appseed.us/admin-dashboards/flask-dashboard-black" class="simple-text logo-mini">
        <img src="/static/assets/img/favicon.png" alt="Logo">
      </a>
      <a target="_blank" href="https://appseed.us/admin-dashboards/flask-dashboard-black"
        class="simple-text logo-normal">
        Flaszka
      </a>
    </div>

    <ul class="nav">

      <!-- class=active should puts dot next ot active tab, but i broke it xd -->
      <li class="{% if 'index' in segment %} active {% endif %}">
        <a href="/">
          <i class="tim-icons icon-atom"></i>
          <p>Linki</p>
        </a>
      </li>
      <li class="{% if 'notifications' in segment %} active {% endif %}">
        <a href="/deactivations.html">
          <i class="tim-icons icon-bell-55"></i>
          <p>Dezaktywacje</p>
        </a>
      </li>

    </ul>

  </div>
</div>